html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.big-container {
    height: 90%
}

.container {
    box-sizing: border-box;
    padding: 84px 100px 84px 100px;
}
.dark-back {
   background-color: #1f2937;
}

.white, .signup-button {
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 16px 100px 0 100px;
    height: 5%
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    list-style: none;
}

.first {
    display: flex;
}

.text-header {
    font-size: 48px;
    font-weight: 900;
}

.text, a {
    font: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: grey;
}

.signup-button, .ad {
    background-color: #3882F6;
}


.header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    font-weight: 900;
}

.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}